<div class="breadcrumb clearfix">
    <ul>
        <li><a href="">All Fields</a>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</li>
        <li><a href="">Biology</a>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</li>
        <li><a href="">Stem Cell Biology</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="filters-wrapper">
            <label>Filter By</label>
                 <form>
                   <t>Please enter your desired tags.
                   <br>
                   <input type="text" name="tag1">
                   <input type="submit"/>
                 </form>
<!--                  <% if @data == nil %>
                    data was nil
                 <% else %>
                    <%= @data %>
                 <% end %> -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="publications-list">
            <% @pubs.each do |publication| %>
                <% if @data != nil %> 
                  <% next if !(publication.title.include?(@data) or publication.abstract.include?(@data)) %>
                <% end %>
                <div class="publication">
                    <span class="category"></span>
                    <%= link_to publication.title, "/publication/" + (publication.pmid).to_s, :class => 'title' %>
                    <p class="excerpt">
                        <%= publication.abstract %>
                    </p>
                    <div class="clearfix">
                        <div class="author clearfix">
                            <div class="image">
                                <%= image_tag "default.jpg" %>
                            </div>
                            <div class="info">
                                <h3 class="name"><%= publication.authors[0,75] %></h3>
                                <span class="pub-date">Created on <%= publication.date %></span>
                            </div>
                        </div>
                        <div class="actions">
                            <a class="upvote" data-toggle="tooltip" title="Upvote"><i class="fa fa-arrow-up"></i>&nbsp;<%= 1000 + rand(publication.score*19/20...publication.score) %></a>
                            <a class="comments" data-toggle="tooltip" title="Comment"><i class="fa fa-comments"></i>&nbsp;<%= rand(50) %></a>
                            <a class="bookmark" data-toggle="tooltip" title="Bookmark"><i class="fa fa-bookmark"></i>&nbsp;</a>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>